<div class="card-row">
  <TopicStatus @topic={{this.topic}} />
  <span class="topic-title">{{this.topic.title}}</span>
  {{format-date this.topic.bumpedAt format="tiny" noTitle="true"}}
</div>

{{#if this.showTags}}
  <div class="card-row">
    <div class="tags">
      {{#each this.tags as |tag|}}
        {{html-safe tag}}
      {{/each}}
    </div>
  </div>
{{/if}}

<div class="card-row">
  <div class="posters">
    {{#each this.topic.posters as |poster|}}
      <a
        href={{this.poster.user.path}}
        data-user-card={{this.poster.user.username}}
        class={{this.poster.extraClasses}}
      >
        {{avatar
          this.poster
          avatarTemplatePath="user.avatar_template"
          usernamePath="user.username"
          namePath="user.name"
          imageSize="tiny"
        }}
      </a>
    {{/each}}
  </div>

  {{#if this.topic.assigned_to_user.username}}
    <a class="assigned-to" href={{this.topic.assignedToUserPath}}>
      {{d-icon "user-plus"}}{{this.topic.assigned_to_user.username}}
    </a>
  {{/if}}
</div>

<PluginOutlet @name="kanban-card-bottom" @outletArgs={{hash topic=topic}} />