{{#if this.shouldDisplay}}
  <div class="discourse-kanban-container">
    <div class="kanban-spacer">
      <DButton
        @icon={{if this.fullscreen "discourse-compress" "discourse-expand"}}
        @action={{action "toggleFullscreen"}}
      />
      <DButton @icon="filter" @action={{action "openSettings"}} />
    </div>

    {{#each this.kanbanHelper.listDefinitions as |definition|}}
      <DiscourseKanbanList
        @definition={{this.definition}}
        @dragData={{this.dragData}}
        @setDragDataUpstream={{action "setDragData"}}
      />
    {{/each}}

    <div class="kanban-spacer"></div>
  </div>
{{/if}}