<div class="list-title">
  {{#if this.definition.icon}}{{d-icon this.definition.icon}}{{/if}}
  {{this.renderedTitle}}
</div>

<div class="topics">
  <ConditionalLoadingSpinner @condition={{this.loading}}>
    {{#each this.list.topics as |topic|}}
      <DiscourseKanbanCard
        @topic={{this.topic}}
        @setDragData={{action "setDragData"}}
        @definition={{this.definition}}
      />
    {{else}}
      <div class="no_topics">
        {{theme-i18n "no_topics"}}
      </div>
    {{/each}}

    <ConditionalLoadingSpinner @condition={{this.loadingMode}} />
  </ConditionalLoadingSpinner>

  <div class="list-bottom"></div>
</div>