<div class="list-title">
    {{#if definition.icon}}{{d-icon definition.icon}}{{/if}}
    {{renderedTitle}}
</div>
<div class="topics">
    {{#conditional-loading-spinner condition=loading}}
        {{#each list.topics as |topic|}}
            {{discourse-kanban-card topic=topic setDragData=(action "setDragData") definition=definition}}
        {{else}}
            <div class="no_topics">
            {{theme-i18n "no_topics"}}
            </div>
        {{/each}}
        {{conditional-loading-spinner condition=loadingMore}}
    {{/conditional-loading-spinner}}
<div class="list-bottom"></div>
</div>